<p style="color: green"><%= notice %></p>

<%= render @product %>

<p>Images</p>
<% @product.productimages.each do |productimage| %>
  <%= image_tag productimage.image.url, size:20*20 %>
<% end %>

<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>

